<div class="trillo-form" data-category="Forms" name="f1" nm="f1" style="width: 450px; padding: 20px; border: 1px solid rgb(238, 238, 238); border-radius: 5px;">
  <form data-container="">
    <div class="form-group" data-component="checkbox" data-category="InputFields" nm="Text_1">
      <div class="custom-control custom-checkbox">
        <input data-field="" type="checkbox" class="custom-control-input" id="Text_1" nm="Text_1">
        <label data-label="" class="custom-control-label" for="Text_1">Heading</label>
      </div>
    </div>
    <div data-component="text" class="form-group" nm="Text_2">
      <label data-label="" for="Text_2">Heading2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
