<div class="trillo-form" data-category="Forms" name="f1" nm="f1" style="width: 450px; padding: 20px; border: 1px solid rgb(238, 238, 238); border-radius: 5px;">
  <form data-container="" class="">
    <div class="form-group" data-component="checkbox" data-category="InputFields" nm="Text_1">
      <div class="custom-control custom-checkbox">
        <input data-field="" type="checkbox" class="custom-control-input" id="Text_1" nm="Text_1">
        <label data-label="" class="custom-control-label" for="Text_1">Heading</label>
      </div>
    </div>
    <div data-component="text" class="form-group" nm="Text_2">
      <label data-label="" for="Text_2">Heading2</label>
      <input data-field="" type="text" class="form-control" nm="Text_2">
    </div>
    <div data-component="row12Col" data-row="" class="form-row" nm="row12Col_1">
      <div data-column="" class="col-md-12">
        <div data-component="text" class="form-group" nm="text_1">
          <label data-label="" for="text_1">text_1</label>
          <input data-field="" type="text" class="form-control" nm="text_1">
        </div>
      </div>
    </div>
    <div class="form-group" data-component="checkbox" nm="checkbox_1">
      <div class="custom-control custom-checkbox">
        <input data-field="" type="checkbox" class="custom-control-input" id="checkbox_1" nm="checkbox_1">
        <label data-label="" class="custom-control-label" for="checkbox_1">checkbox_1</label>
      </div>
    </div>
    <div class="form-group" data-component="checkbox" nm="checkbox_2">
      <div class="custom-control custom-checkbox">
        <input data-field="" type="checkbox" class="custom-control-input" id="checkbox_2" nm="checkbox_2">
        <label data-label="" class="custom-control-label" for="checkbox_2">checkbox_2</label>
      </div>
    </div>
  </form>
  <small class="form-control-feedback trillo-display-none js-field-error"></small>
  <small class="form-text text-muted trillo-display-none js-field-message"></small>
</div>
